@import './mixin';
@import './variables';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;

    .page-name span {
        font-size: 45px;
    }

    .login-button {
        display: flex;
        justify-content: space-between;
        width: 200px;
    }

}



header button {
    padding: 10px 18px;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    span {
        font-size: 18px;
        transition: ease-in-out 0.4s;
        z-index: 2;
    }
}

header button:hover span {
    color: white;
}

header button::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    background: $black;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: ease 0.4s;
}

header button:hover::before {
    width: 100%;

}





