@import './mixin';

.post {
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    width: 100%;
}

.post-container {
    @include flexCenter();
    flex-direction: row;
    padding: 2%;
}

.user-img {
    margin-right: 10px;

    img {
        border-radius: 50%;
        width: 60px;
    }
}


.user-post {
    display: flex;
    flex-direction: column;

    .user-author p {
        font-weight: 600;
        font-size: 18px;
    }

    .user-message {
        font-size: 16px;
    }
}