@import './mixin';
@import './variables';

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid rgb(82, 82, 82);
    width: 90%;
    white-space: pre-wrap;
}

.post-container {
    @include flexCenter();
    flex-direction: row;
    padding: 2%;
}

.user-img {
    margin-right: 10px;

    img {
        border-radius: 50%;
        width: 60px;
    }
}


.user-post {
    display: flex;
    flex-direction: column;

    .user-author p {
        font-weight: 600;
        font-size: 18px;
    }

    .user-message {
        font-size: 16px;
        width: 90%;
        overflow-wrap: break-word;
    }
}

.delete-button {
    background: transparent;
    border: 0.1px solid $black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 28px;
    right: 30px;

    span {
        font-size: 18px;
        transition: ease-in-out 0.4s;
        z-index: 2;
    }
}

.delete-button:hover span {
    color: white;
}

.delete-button::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    background: $black;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: ease 0.4s;
}

.delete-button:hover::before {
    width: 100%;
}